html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
  background-color: white;
}

/*header */

/* header logo */
#logo {

  font-family: 'Della Respira', serif;
  text-align: center;
}

#logo a {
  color: white;
}

/* header nav */
#header {
  background-color: #283034 ;
}
.navbar-default .navbar-brand {
  color: white;
}


.navbar-nav > li {
text-align: center;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  text-align: center;
}
.navbar{
  background-color: transparent;
  border: none;
}


/* Carousel base class */
.carousel {
  margin-top: none;
  height: 100%;
  margin-bottom: none;
  width: 100%;
  margin-right: none;
  margin-left: none;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

/* Main body section */ 

.mainBody {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.homePageRow1{
  height: 300px;
}
.homePageRow2{
  height: 300px;
  background-color: #0ac5f4;
}
.homePageRow3{
  height: 300px;
  background-color: #EAEDF2;
}
.homePageRow4{
  height: 300px;
  background-color: #FEE253;
}

.picLink:hover {
      opacity: 0.5;
}
.stockImg {
  height: 100%;
  width: 100%;
}
.central {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/* sacrement page */
#sacrement_body {
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#sacrementsBody {
  min-height: 100%;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#banner {
  width: 90%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  max-height: 300px;
}
#sacrament_list li {
  display: inline;
  margin-right: auto;
  margin-left: auto;
}

/*about page */ 
#about_body {
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
   min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
#fr_jim_profile {
padding-top: 10px;
}
/*Parish Life Page */

#parish_body {
background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*Contacts Page */
#contacts_table {
  width: 80%;
  text-align: center;
}
#contacts_table tr {
  width: 80%;
  text-align: left;
}
/* The Mass Page */ 
#massBody {
background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#calendar {
  padding-bottom: 10px;
}
/*footer */
.footer-top{
  color: #FEFCFF;
  background-color: #283034 ;
}

.btn.btn-default{
  background-color: white;
}
/*Hagerty Center Page */
#hagerty {
  font-size: 24px;
   font-family: 'Della Respira', serif;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
    /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #283034;
}
